{% extends "auctions/layout.html" %}  

{% block body %}  

    <div class="row mx-3">   
       {% for listing in listings %} 
            <div class="col-md-4">    
                <div class="card mb-4" style="width: 100%;">   
                    <img src="{{ listing.image }}" class="card-img-top" alt="{{ listing.title }}">  
                    <div class="card-body">  
                        <h5 class="card-title">{{ listing.title }}</h5>  
                        <p class="card-text">{{ listing.descriptions }}</p>  
                        <a href="{% url 'listingPage' id=listing.id %}" class="btn btn-primary">Details</a>  
                    </div>  
                </div>  
            </div>  
       {% endfor %}  
    </div>  
{% endblock %}